//- mixins.jade
mixin script(src)
  script(type='application/javascript', src=src)
mixin style(href)
  link(rel='stylesheet', type='text/css', href=href)

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +style('https://fonts.googleapis.com/css?family=Roboto:100')
    +style('style.css')
    title FFC - Tic Tac Toe
body

  header
    h1 Free code Camp tic tact toe
  header
    h2 you won't beat me. But you can try

  .point
    .point__circle 0
    .point__cross 0

  .reset.reset-hide reset

  div.container
    //-BEM
    section.map
      div.draw
      - for(var i = 0; i<3; i++){
        div(class='map__row map__col#{i+1}')
          - for(var j = 0; j<3; j++){
            div.map__carre 
              span(id='spot#{i+1}#{j+1}')
          - }
      - }  

  .support-top
    div.thx Thanks for watching.
  .support-bottom
    div.thx Thanks for watching.

  .nav
    h3 choose your pawn
    //-BEM
    div.choice
      span.choice__cross cross
      span.choice__circle circle

  footer.footer
    div.thx Thanks for watching.

  script(src='require.js', data-main='main')
  //-+script('script.js')

